<!-- <div *ngIf="data">Press</div> -->
<div class="container">
  <div class="row">
      <table class="table">
          <thead class="thead-inverse">
          <tr>
              <th class="text-center">Word</th>
              <th class="text-center">Count</th>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let datum of table_data">
              <td class="text-center" style="width: 15px;">{{datum.word}}</td>
              <td class="text-center" style="width: 15px;">{{datum.count}}</td>
          </tr>
          </tbody>
      </table>
  </div>
</div>